<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.topicus.all_rise">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.Workout.RunningWorkoutActivity"></activity>
        <activity android:name=".activity.Workout.WorkoutActivity" />
        <activity
            android:name=".activity.Workout.WorkoutsActivity"
            android:label="@string/title_activity_workout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Authentication.InviteCodeActivity"
            tools:ignore="InnerClassSeparator" />
        <activity android:name=".activity.RankingActivity" />

        <receiver
            android:name=".reciever.OnNotificationDismissBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.INPUT_METHOD_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.NotificationService"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>